.find {
  margin: 4.2% 0 0 0;
}
.loading{
display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.containerNotData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20% 0 0;

  .btnReset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 30px;
    margin: 60px 0 0;
    color: var(--color-light-100);
  }
}

.tableRoot {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0 0;

  .head {

    .htr {

      .hItem {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: var(--color-dark-300);

        .hIcon {
          margin: 0 0 0 8px;
          opacity: 1;
          transform: rotateX(0deg);
          transform-origin: center;
          transition: opacity .3s ease-in-out, transform .3s ease-in-out;
        }
      }

    }

  }

  .body {

    .btr {
      background: var(--color-light-100);
      filter: drop-shadow(0px 0px 0px #00000026);
      transition: filter 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        filter: drop-shadow(0px 0px 10px #00000026);
        transition: filter 0.2s ease-in-out;

      }

      .btd {
        position: relative;
        border-bottom: 5px solid var(--color-light-500);
        border-radius: 3px;
        height: 70px;
        text-transform: lowercase;

        .bcolor {
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
        }
      }

      .tdType,
      .tdSite {
        color: var(--color-dark-500);
        text-transform: lowercase;
      }

      .tdName,
      .tdType,
      .tdStatus {
        &::first-letter {
          text-transform: uppercase;
        }
      }

      .modLitter {
        text-transform: none;
      }

      .bButton {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 95px;
        width: 100%;
        color: var(--color-light-100);
        text-transform: capitalize;
        height: 30px;
      }

    }
  }

  .bth,
  .hth,
  .btd {
    padding: 10px 15px;
  }
}

.onlineStatus {
  color: var(--color-medium-900);
}

.pausedStatus {
  color: var(--color-error-700);
}

.draftStatus {
  color: var(--color-dark-900);
}

.stoppedStatus {
  color: var(--color-error-900);
}

.onlineName {
  background: var(--color-primary-900);
}

.pausedName {
  background: var(--color-primary-500);
}

.draftName {
  background: var(--color-error-900);
}

.stoppedName {
  background: var(--color-error-900);
}

