.h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: var(--f-s-26px);
  line-height: var(--f-l-39px);
}

.monBold12 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: var(--f-s-12px);
  line-height: var(--f-l-14px);
}
.monBold14 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: var(--f-s-14px);
  line-height: var(--f-l-17px);
}
.monBold18 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: var(--f-s-18px);
  line-height: var(--f-l-21px);
}

.nunito {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  font-size: var(--f-s-18px);
  line-height: var(--f-l-24px);
}

.robBold11 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: var(--f-s-11px);
  line-height: var(--f-l-12px);
}
.robReg12 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: var(--f-s-12px);
  line-height: var(--f-l-14px);
}
.robRBold12 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: var(--f-s-12px);
  line-height: var(--f-l-14px);
}
.robBold13 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: var(--f-s-13px);
  line-height: var(--f-l-15px);
}
.robReg14 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: var(--f-s-14px);
  line-height: var(--f-l-16px);
}
