:root {
  //LIGHT --------------
  --color-light-100: #FFFFFF;
  --color-light-500: #FAFAFA;
  --color-light-900: #EBEBEB;
  //MEDIUM --------------
  --color-medium-900: #2EE5AC;
  //PRIMARY --------------
  --color-primary-500: #C2C2FF;
  --color-primary-900: #8686FF;
  //DARK --------------
  --color-dark-300: #999999;
  --color-dark-500: #5C5C5C;
  --color-dark-700: #7D7D7D;
  --color-dark-900: #222222;
  //ERROR --------------
  --color-error-700: #FF8346;
  --color-error-900: #FE4848;
}